/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main), sans-serif;
  font-weight: var(--font-weight-main);
  font-variation-settings: "wght" var(--font-weight-main);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-block-size: 327px;
  font-family: var(--font-accent);
  width: var(--container-width);
  margin: 100px 0px 100px 0;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title {
  font-size: clamp(3.063rem, 2.71rem + 1.5vw, 4.063rem);
  font-weight: 400;
}
.header-subtitle {
  font-size: clamp(0.875rem, 0.678rem + 0.845vw, 1.438rem);
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.section {
  background-color: #ffffff;
  border: 2px solid var(--Themes-mainColor, #000000);
  max-inline-size: 1440px;
  width: var(--container-width);
}

.watermark {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.card-label {
  position: absolute;
  color: rgb(0, 0, 0, 0.7);
  z-index: 10;
  mix-blend-mode: hard-light;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
.card-title {
  font-weight: 715;
  padding: 4px 10px;
  font-size: 18px;
}

.image {
  width: clamp(371px, 16.035rem + 30.516vw, 696px);
  height: clamp(371px, 16.035rem + 30.516vw, 696px);
  object-fit: cover;
  object-position: right;
  border-bottom: 2px solid black;
}

.filter-horror {
  filter: grayscale(80%) contrast(150%) sepia(30%);
  z-index: 1;
}
.filter-vintage {
  filter: sepia(60%) brightness(90%);
}
.filter-dreamy {
  filter: blur(1px) brightness(110%) saturate(80%);
}
.filter-noir {
  filter: grayscale(100%) contrast(120%);
}
.filter-sunny {
  filter: saturate(180%) brightness(105%);
}
.filter-techno {
  filter: hue-rotate(270deg) brightness(120%);
}
.filter-dramatic {
  filter: contrast(130%) saturate(150%) hue-rotate(-20deg);
}
.card-text {
  font-size: 18px;
  font-weight: 415;
  padding: 25px;
}
.card-memories {
  font-size: 18px;
  font-weight: 415;
  padding: 0px 25px 25px 25px;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  outline: none;
}
.buttons {
  padding: 0px 25px 25px 0px;
  font-family: var(--font-accent);
  display: flex;
  justify-content: end;
}

.card__icon-button {
  margin-inline-end: 12px;
  position: relative;
  outline: none;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  padding: 0px 5px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__icon-button:focus {
  outline: none;
}
.card__icon-button:focus-visible {
  border-color: var(--font-accent);
}

.card__like-button {
  border: 2px solid var(--accent-color);
  padding: 12.5px 37px;
  transition: box-shadow 0.3s ease;
  position: relative;
  background-color: var(--bg-color);
}
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}
.card__like-button::before,
.footer-button::before,
.dialog-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}
.card__like-button:hover::before,
.footer-button:hover::before,
.dialog-button:hover::before {
  transform: scaleX(1);
}
.button__text {
  position: relative;
  color: var(--text-color);
  mix-blend-mode: difference;
  z-index: 2;
}
.icon {
  flex-shrink: 0;
  position: relative;
  color: var(--text-color);
  mix-blend-mode: difference;
  z-index: 2;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 100px;
  font-family: var(--font-accent);
  font-size: 14px;
  width: var(--container-width);
}

.footer-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border: 2px solid #000000;
  padding: 20px;
  line-height: 90%;
  position: relative;
}

#dialog-id {
  padding: 0;
}
#dialog-id::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
.dialog-window {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  max-width: 353px;
  padding: 30px 40px 30px 40px;
}
.svg-text {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.dialog-text {
  font-family: var(--font-accent);
  line-height: 150%;
  font-weight: 400;
}
.dialog-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000000;
  padding: 13px 116px;
  line-height: 90%;
  text-transform: uppercase;
  width: 100%;
  position: relative;
}

.sparks {
  opacity: 0;
}
.contour {
  transition: fill 0.1s linear;
}
.core {
  transition: fill 0.3s linear 0.03s;
}
.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s 0.05s;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button .is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0s;
}
.card__icon-button .is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}
.card__icon-button .is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.card__icon-button .is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}
.card__icon-button .is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}
.like-icon {
  transform-origin: center;
}

@supports (-webkit-text-stroke: 1px black) or (text-stroke: 1px black) {
  .card-label {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
    text-stroke: 1px rgba(255, 255, 255, 0.7);
    text-shadow: none;
  }
}

@media (width > 1440px) {
  .footer-button {
    flex-direction: row;
  }
}